aiohttp==3.8.4
aiosignal==1.3.1
altgraph==0.17.3
anyio==3.7.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
async-timeout==4.0.2
attrs==23.1.0
auto-py-to-exe==2.35.0
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.0.0
blis==0.7.9
bottle==0.12.25
bottle-websocket==0.2.9
branca==0.6.0
Brotli==1.0.9
CacheControl==0.13.1
cachetools==5.3.0
catalogue==2.0.8
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
comm==0.1.3
confection==0.0.4
cryptography==41.0.1
cymem==2.0.7
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
deplacy==2.0.5
dill==0.3.6
discord==2.3.0
Eel==0.16.0
emoji==2.5.0
esupar==1.6.2
executing==1.2.0
fastjsonschema==2.17.1
ffmpeg-python==0.2.0
filelock==3.12.1
firebase-admin==6.2.0
folium==0.14.0
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.6.0
future==0.18.3
gevent==22.10.2
gevent-websocket==0.10.1
google-api-core==2.11.1
google-api-python-client==2.92.0
google-auth==2.19.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-cloud-core==2.3.3
google-cloud-firestore==2.11.1
google-cloud-storage==2.10.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.1
greenlet==2.0.2
grpcio==1.56.0
grpcio-status==1.56.0
gspread==5.9.0
gTTS==2.3.2
httplib2==0.22.0
huggingface-hub==0.15.1
idna==3.4
imageio-ffmpeg==0.4.8
ipykernel==6.23.2
ipython==8.14.0
ipython-genutils==0.2.0
isoduration==20.11.0
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonpointer==2.4
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter_client==8.2.0
jupyter_core==5.3.1
jupyter_server==2.6.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
langcodes==3.3.0
markdown-it-py==2.2.0
MarkupSafe==2.1.3
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==3.0.1
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
murmurhash==1.0.9
mutagen==1.46.0
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==7.6.0
nbformat==5.9.0
nest-asyncio==1.5.6
networkx==3.1
nltk==3.8.1
notebook==6.5.4
notebook_shim==0.2.3
numpy==1.24.3
oauthlib==3.2.2
overrides==7.3.1
packaging==23.1
pandas==2.0.2
pandocfilters==1.5.0
parso==0.8.3
pathy==0.10.1
pefile==2023.2.7
pickleshare==0.7.5
Pillow==10.0.0
platformdirs==3.7.0
playsound==1.2.2
polyline==2.0.0
preshed==3.0.8
progress==1.6
prometheus-client==0.17.0
prompt-toolkit==3.0.38
proto-plus==1.22.3
protobuf==4.23.2
psutil==5.9.5
pure-eval==0.2.2
py-cord==2.4.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAudio==0.2.13
pybind11==2.10.4
pycord==0.1.1
pycparser==2.21
pycryptodomex==3.18.0
pydantic==1.10.9
pydub==0.25.1
Pygments==2.15.1
pyinstaller==5.11.0
pyinstaller-hooks-contrib==2023.3
PyJWT==2.7.0
PyNaCl==1.5.0
pynput==1.7.6
pyparsing==3.0.9
pyrsistent==0.19.3
pythainlp==4.0.2
python-dateutil==2.8.2
python-dotenv==1.0.0
python-json-logger==2.0.7
pytz==2023.3
pywin32==306
pywin32-ctypes==0.2.0
pywinpty==2.0.10
PyYAML==6.0
pyzmq==25.1.0
regex==2023.6.3
requests==2.31.0
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.4.1
rsa==4.9
safetensors==0.3.1
scikit-learn==1.2.2
scipy==1.10.1
Send2Trash==1.8.2
sentencepiece==0.1.99
six==1.16.0
smart-open==6.3.0
sniffio==1.3.0
soupsieve==2.4.1
spacy==3.5.3
spacy-legacy==3.0.12
spacy-loggers==1.0.4
spacy-thai==0.7.3
SpeechRecognition==3.10.0
srsly==2.4.6
stack-data==0.6.2
stanza==1.5.0
supar==1.1.4
sympy==1.12
termcolor==2.3.0
terminado==0.17.1
thinc==8.1.10
threadpoolctl==3.1.0
tinycss2==1.2.1
tokenizers==0.13.3
torch==2.0.1
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
transformers==4.30.1
typer==0.7.0
typing_extensions==4.6.3
tzdata==2023.3
ufal.chu-liu-edmonds==1.0.2
ufal.udpipe==1.3.0.1
uri-template==1.3.0
uritemplate==4.1.1
urllib3==1.26.16
wasabi==1.1.2
wavio==0.0.7
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.0
websockets==11.0.3
whichcraft==0.6.1
yarl==1.8.2
yaspin==2.3.0
yt-dlp @ https://github.com/yt-dlp/yt-dlp/archive/master.tar.gz#sha256=75425a5439c9e57b3a836df2cc12076497f679b4534ff9acf29d32ece06b8cb7
zope.event==4.6
zope.interface==6.0
